<!DOCTYPE html>
<html>
  <head>
    <title>Add New Property</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


    <!--STYLES-->
    <link rel="stylesheet" href="/styles/angular-toastr.css">
    <link rel="stylesheet" href="/styles/bootstrap.css">
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/layout.css">
    <!--STYLES END-->

    <!--Added this so the client has access to the csrf tag and it's grabbed first service side on every page -->
    <script type="text/javascript">
    window.SAILS_LOCALS = { _csrf: "<%= _csrf %>" };
    </script>

  </head>

  <body ng-app="addPropertyModule" ng-controller="addPropertyController" ng-cloak>

    <!-- SIGNUP FORM --> 
    <form ng-submit="submitAddPropertyForm()" id="add-property-form" class="form-signin" name="addProperty">
      <h2 class="form-signin-heading">Insert a Property</h2>
      <div class="row">

        <!-- N A M E -->

        <!-- checking whether the form "signup" with the "name" property is both $invalid AND $dirty.  If it is
        insert the "has-error" class on the input field (i.e. insert a red border around the input field)
        -->
        <div class="control-group form-group col-md-12"
        ng-class="{'has-error':addProperty.type.$invalid &&
                              addProperty.type.$dirty}">
          <label>Your full name</label>

          <!-- For this input field make it required, and have a max length of 25 -->
          <input type="number" class="form-control" placeholder="e.g. 1-casa, 2-apartamento, etc" name="type" ng-model="addPropertyForm.type" ng-maxlength="2" required>

          <!-- Also, if signup.name.$dirty is true, show the message depending upon the particular properties truthiness (e.g. required
          and/or maxlength) -->
          <span class="help-block has-error" ng-if="addProperty.type.$dirty">
            <span ng-show="addProperty.type.$error.required">Type is required.</span>
            <span ng-show="addProperty.type.$error.maxlength">The type cannot be more than 2 numbers.</span>
          </span>
        </div>

        <!-- Address Street -->

        <div class="control-group form-group col-md-12"
          ng-class="{'has-error':addProperty.addressStreet.$invalid &&
                                addProperty.addressStreet.$dirty}">
          <label>Your addressStreet</label>
          <input type="text" class="form-control" placeholder="e.g. Genius" name="addressStreet" ng-model="addPropertyForm.addressStreet" ng-maxlength="50" required>
          <span class="help-block has-error" ng-if="addProperty.addressStreet.$dirty">
            <span ng-show="addProperty.addressStreet.$error.required">addressStreet is required.</span>
            <span ng-show="addProperty.addressStreet.$error.maxlength">The name cannot be more than 50 characters.</span>
          </span>
        </div>

        <!-- Owner -->

        <div class="control-group form-group col-md-12"
        ng-class="{'has-error':addProperty.owner.$invalid &&
                              addProperty.owner.$dirty}">
          <label>Property owner </label>
          <input type="text" class="form-control" placeholder="nikola@tesla.com" name="owner" ng-model="addPropertyForm.owner" required >
          <span class="help-block has-error" ng-if="addProperty.owner.$dirty">
            <span ng-show="addProperty.owner.$error.required"> An owner is required.</span>
            <span ng-show="addProperty.owner.$error.owner">Not a owner name valid.</span>
          </span>
        </div>

        <!-- Id -->

        <div class="control-group form-group col-md-6"
        ng-class="{'has-error':addProperty.id.$invalid &&
                              addProperty.id.$dirty}">
          <label>Choose an id</label>
          <!-- Added the compareTo directive that compares the passowrds -->
          <input type="id" class="form-control"  name="id" ng-model="addPropertyForm.id" id="id" required ng-minlength="1"  >
          <span class="help-block has-error" ng-if="addProperty.id.$dirty">
            <span ng-show="addProperty.id.$error.required">Id is required.</span>
            <span ng-show="addProperty.id.$error.minlength">Password must be at least 1 char.</span>
          </span>
        </div>

        
      </div>

      <br/>

      <!-- Disable signup button until the form has no errors -->
      <button class="btn btn-primary btn-lg btn-block" type="submit" ng-disabled="addProperty.$invalid">
        <span ng-show="!addPropertyForm.loading">Insert Property</span>
        <span class="overlord-loading-spinner fa fa-spinner" ng-show="addPropertyForm.loading" ></span>
        <span ng-show="addPropertyForm.loading">Inserting a new property...</span>
      </button>

      <input type="hidden" name="_csrf" value="<%= _csrf %>" />
    </form>


    </div>


    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/angular.1.3.js"></script>
    <script src="/js/dependencies/angular-toastr.js"></script>
    <script src="/js/dependencies/compareTo.module.js"></script>
    <script src="/js/dependencies/smart-table.js"></script>
    <script src="/js/dependencies/smart-table.min.js"></script>
    <script src="/js/public/chat/ChatModuleAng.js"></script>
    <script src="/js/public/chat/ChatControllerAng.js"></script>
    <script src="/js/public/addProperty/addPropertyModule.js"></script>
    <script src="/js/public/addProperty/addPropertyController.js"></script>
    <script src="/js/public/showProperty/showPropertyModule.js"></script>
    <script src="/js/public/showProperty/showPropertyController.js"></script>
    <script src="/js/public/addClient/addClientModule.js"></script>
    <script src="/js/public/addClient/addClientController.js"></script>
    <script src="/js/public/showClient/showClientModule.js"></script>
    <script src="/js/public/showClient/showClientController.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>