  <body ng-app="addClientModule" ng-controller="addClientController" ng-cloak>


    <!-- SIGNUP FORM --> 
    <form ng-submit="submitAddClientForm()" id="add-client-form" class="form-signin" name="addClient">
      <h2 class="form-signin-heading">Insert a Client</h2>
      <div class="row">

        <!-- N A M E -->

        <!-- checking whether the form "signup" with the "name" property is both $invalid AND $dirty.  If it is
        insert the "has-error" class on the input field (i.e. insert a red border around the input field)
        -->
        <div class="control-group form-group col-md-12"
        ng-class="{'has-error':addClient.name.$invalid &&
                              addClient.name.$dirty}">
          <label>Your full name</label>

          <!-- For this input field make it required, and have a max length of 25 -->
          <input type="text" class="form-control" placeholder="Matheus" name="name" ng-model="addClientForm.name" ng-maxlength="30" required>

          <!-- Also, if signup.name.$dirty is true, show the message depending upon the particular properties truthiness (e.g. required
          and/or maxlength) -->
          <span class="help-block has-error" ng-if="addClient.name.$dirty">
            <span ng-show="addClient.name.$error.required">Name is required.</span>
            <span ng-show="addClient.name.$error.maxlength">The name cannot be more than 30 characters.</span>
          </span>
        </div>

        <!-- Surname -->

        <div class="control-group form-group col-md-12"
          ng-class="{'has-error':addClient.surname.$invalid &&
                                addClient.surname.$dirty}">
          <label>Client surname</label>
          <input type="text" class="form-control" placeholder="Silva" name="surname" ng-model="addClientForm.surname" ng-maxlength="60" required>
          <span class="help-block has-error" ng-if="addClient.surname.$dirty">
            <span ng-show="addClient.surname.$error.required">Client surname is required.</span>
            <span ng-show="addClient.surname.$error.maxlength">The surname cannot be more than 60 characters.</span>
          </span>
        </div>

        <!-- Birth -->

        <div class="control-group form-group col-md-12"
        ng-class="{'has-error':addClient.birth.$invalid &&
                              addClient.birth.$dirty}">
          <label>Client birth </label>
          <input type="number" class="form-control" placeholder="15021993" name="birth" ng-model="addClientForm.birth" required >
          <span class="help-block has-error" ng-if="addClient.birth.$dirty">
            <span ng-show="addClient.birth.$error.required"> Client birth is required.</span>
            <span ng-show="addClient.birth.$error.birth">Not a birth valid.</span>
          </span>
        </div>

        <!-- address -->

        <div class="control-group form-group col-md-12"
          ng-class="{'has-error':addClient.addressStreet.$invalid &&
                                addClient.addressStreet.$dirty}">
          <label>Client address</label>
          <input type="text" class="form-control" placeholder="Silva" name="addressStreet" ng-model="addClientForm.addressStreet" ng-maxlength="60" required>
          <span class="help-block has-error" ng-if="addClient.addressStreet.$dirty">
            <span ng-show="addClient.addressStreet.$error.required">Client address is required.</span>
            <span ng-show="addClient.addressStreet.$error.maxlength">The address cannot be more than 60 characters.</span>
          </span>
        </div>

        <!-- Nationality -->

        <div class="control-group form-group col-md-12"
          ng-class="{'has-error':addClient.nationality.$invalid &&
                                addClient.nationality.$dirty}">
          <label>Client nationality</label>
          <input type="text" class="form-control" placeholder="Silva" name="nationality" ng-model="addClientForm.nationality" ng-maxlength="20" required>
          <span class="help-block has-error" ng-if="addClient.nationality.$dirty">
            <span ng-show="addClient.nationality.$error.required">Client nationality is required.</span>
            <span ng-show="addClient.nationality.$error.maxlength">The nationality cannot be more than 20 characters.</span>
          </span>
        </div>

        <!-- City Nationality -->

        <div class="control-group form-group col-md-12"
          ng-class="{'has-error':addClient.nationalityCity.$invalid &&
                                addClient.nationalityCity.$dirty}">
          <label>Client nationality City </label>
          <input type="text" class="form-control" placeholder="Silva" name="nationalityCity" ng-model="addClientForm.nationalityCity" ng-maxlength="30" required>
          <span class="help-block has-error" ng-if="addClient.nationalityCity.$dirty">
            <span ng-show="addClient.nationalityCity.$error.required">Client nationality City is required.</span>
            <span ng-show="addClient.nationalityCity.$error.maxlength">The nationality City cannot be more than 30 characters.</span>
          </span>
        </div>

         <!-- State Nationality -->

        <div class="control-group form-group col-md-12"
          ng-class="{'has-error':addClient.nationalityState.$invalid &&
                                addClient.nationalityState.$dirty}">
          <label>Client nationality State </label>
          <input type="text" class="form-control" placeholder="Silva" name="nationalityState" ng-model="addClientForm.nationalityState" ng-maxlength="30" required>
          <span class="help-block has-error" ng-if="addClient.nationalityState.$dirty">
            <span ng-show="addClient.nationalityState.$error.required">Client nationality State is required.</span>
            <span ng-show="addClient.nationalityState.$error.maxlength">The nationality State cannot be more than 30 characters.</span>
          </span>
        </div>

        <!-- RG -->

        <div class="control-group form-group col-md-12"
        ng-class="{'has-error':addClient.rg.$invalid &&
                              addClient.rg.$dirty}">
          <label>Client RG </label>
          <input type="number" class="form-control" placeholder="15021993" name="rg" ng-model="addClientForm.rg" required >
          <span class="help-block has-error" ng-if="addClient.rg.$dirty">
            <span ng-show="addClient.rg.$error.required"> Client RG is required.</span>
            <span ng-show="addClient.rg.$error.rg">Not a RG valid.</span>
          </span>
        </div>

        <!-- CPF -->

        <div class="control-group form-group col-md-12"
        ng-class="{'has-error':addClient.cpf.$invalid &&
                              addClient.cpf.$dirty}">
          <label>Client CPF </label>
          <input type="number" class="form-control" placeholder="15021993" name="cpf" ng-model="addClientForm.cpf" required >
          <span class="help-block has-error" ng-if="addClient.cpf.$dirty">
            <span ng-show="addClient.cpf.$error.required"> Client CPF is required.</span>
            <span ng-show="addClient.cpf.$error.cpf">Not a CPF valid.</span>
          </span>
        </div>

        <!-- Id -->

        <div class="control-group form-group col-md-6"
        ng-class="{'has-error':addClient.idPessoa.$invalid &&
                              addClient.idPessoa.$dirty}">
          <label>Choose an Client id</label>
          <!-- Added the compareTo directive that compares the passowrds -->
          <input type="idPessoa" class="form-control"  name="idPessoa" ng-model="addClientForm.idPessoa" id="idPessoa" required ng-minlength="1"  >
          <span class="help-block has-error" ng-if="addClient.idPessoa.$dirty">
            <span ng-show="addClient.idPessoa.$error.required">Client Id is required.</span>
            <span ng-show="addClient.idPessoa.$error.minlength">Client id must be at least 1 char.</span>
          </span>
        </div>

        
      </div>

      <br/>

      <!-- Disable signup button until the form has no errors -->
      <button class="btn btn-primary btn-lg btn-block" type="submit" ng-disabled="addClient.$invalid">
        <span ng-show="!addClientForm.loading">Insert Client</span>
        <span class="overlord-loading-spinner fa fa-spinner" ng-show="addClientForm.loading" ></span>
        <span ng-show="addClientForm.loading">Inserting a new client...</span>
      </button>

      <input type="hidden" name="_csrf" value="<%= _csrf %>" />
    </form>


    <div class="container">
        <hr>
        <footer class="footer pull-right">
            <div>
                <a href="http://sailsjs.com/">sailsjs.org</a>
                <div></div>
            </div>
        </footer>
    </div>
</body>
